/* frontend/src/index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Logo color variables */
:root {
  --logo-color: #0070f3; /* PlayStation Blue */
}

.dark {
  --logo-color: #22c55e; /* Xbox Green */
}

body {
  font-family: 'Inter', sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

/* Marquee animation */
@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.animate-marquee {
  animation: marquee 15s linear infinite;
}
